## Metadata Based Recommender

In [281]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [282]:
movies = pd.read_csv('data/MoviesMetadata.csv')
movies.head()

,budget,id,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,...,title,vote_average,vote_count,name_genres,id_genres,name_production_countries,iso_3166_1_production_countries,name_production_companies,id_production_companies,year
0,30.0,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373.554033,...,Toy Story,7.7,5415.0,"Animation, Comedy, Family","16, 35, 10751",United States of America,US,Pixar Animation Studios,3,1995
1,65.0,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262.797249,...,Jumanji,6.9,2413.0,"Adventure, Fantasy, Family","12, 14, 10751",United States of America,US,"TriStar Pictures, Teitler Film, Interscope Com...","559, 2550, 10201",1995
2,0.0,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,0.000000,...,Grumpier Old Men,6.5,92.0,"Romance, Comedy","10749, 35",United States of America,US,"Warner Bros., Lancaster Gate","6194, 19464",1995
3,16.0,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,81.452156,...,Waiting to Exhale,6.1,34.0,"Comedy, Drama, Romance","35, 18, 10749",United States of America,US,Twentieth Century Fox Film Corporation,306,1995
4,0.0,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,76.578911,...,Father of the Bride Part II,5.7,173.0,Comedy,35,United States of America,US,"Sandollar Productions, Touchstone Pictures","5842, 9195",1995

In [283]:
movies.drop(columns=['iso_3166_1_production_countries', 'id_production_companies', 'id_genres'], inplace=True)
movies.shape

(45443, 20)

In [284]:
credits = pd.read_csv('data/NewCredits.csv')
keywords = pd.read_csv('data/NewKeywords.csv')

In [285]:
credits.head()

,id,name_crew,department_crew,gender_crew,job_crew,profile_path_crew,id_crew,name_cast,order_cast,gender_cast,credit_id_cast,profile_path_cast,id_cast,character_cast
0,862,"John Lasseter, Joss Whedon, Andrew Stanton, Jo...","Directing, Writing, Writing, Writing, Writing,...","2, 2, 2, 2, 0, 1, 0, 2, 2, 2, 2, 2, 0, 0, 0, 2...","Director, Screenplay, Screenplay, Screenplay, ...","/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg, /dTiVsuaTVTe...","7879, 12891, 7, 12892, 12893, 12894, 12895, 12...","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12","2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2","52fe4284c3a36847f8024f95, 52fe4284c3a36847f802...","/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMmP...","31, 12898, 7167, 12899, 12900, 7907, 8873, 111...","Woody (voice), Buzz Lightyear (voice), Mr. Pot..."
1,8844,"Larry J. Franco, Jonathan Hensleigh, James Hor...","Production, Writing, Sound, Directing, Editing...","2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2","Executive Producer, Screenplay, Original Music...","None, /l1c4UFD3g0HVWj5f0CxXAvMAGiT.jpg, /oLOtX...","511, 876, 1729, 4945, 4951, 4952, 8023, 9967, ...","Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, ...","2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, 0...","52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80a...","/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6Q...","2157, 8537, 205, 145151, 5149, 10739, 58563, 1...","Alan Parrish, Samuel Alan Parrish / Van Pelt, ..."
2,15602,"Howard Deutch, Mark Steven Johnson, Mark Steve...","Directing, Writing, Writing, Crew","2, 2, 2, 2","Director, Characters, Writer, Sound Recordist","/68Vae1HkU1NxQZ6KEmuxIpno7c9.jpg, /6trChNn3o2b...","26502, 16837, 16837, 1551320","Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","0, 1, 2, 3, 4, 5, 6","2, 2, 1, 1, 1, 2, 2","52fe466a9251416c75077a8d, 52fe466a9251416c7507...","/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg, /chZmNRYMtqk...","6837, 3151, 13567, 16757, 589, 16523, 7166","Max Goldman, John Gustafson, Ariel Gustafson, ..."
3,31357,"Forest Whitaker, Ronald Bass, Ronald Bass, Ezr...","Directing, Writing, Production, Production, Pr...","2, 0, 0, 2, 1, 0, 0, 0, 2, 0","Director, Screenplay, Producer, Producer, Prod...","/4pMQkelS5lK661m9Kz3oIxLYiyS.jpg, None, None, ...","2178, 5144, 5144, 21968, 70592, 111118, 111118...","Whitney Houston, Angela Bassett, Loretta Devin...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9","1, 1, 1, 1, 2, 2, 2, 2, 2, 2","52fe44779251416c91011aad, 52fe44779251416c9101...","/69ouDnXnmklYPr4sMJXWKYz81AL.jpg, /tHkgSzhEuJK...","8851, 9780, 18284, 51359, 66804, 352, 87118, 3...","Savannah 'Vannah' Jackson, Bernadine 'Bernie' ..."
4,11862,"Alan Silvestri, Elliot Davis, Nancy Meyers, Na...","Sound, Camera, Writing, Production, Writing, D...","2, 2, 1, 1, 2, 2, 2","Original Music Composer, Director of Photograp...","/chEsfnDEtRmv1bfOaNAoVEzhCc6.jpg, None, /nMPHU...","37, 5506, 17698, 17698, 26160, 56106, 68755","Steve Martin, Diane Keaton, Martin Short, Kimb...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11","2, 1, 2, 1, 2, 0, 2, 2, 1, 1, 2, 1","52fe44959251416c75039eb9, 52fe44959251416c7503...","/rI2EMvkfKKPKa5z0nM2pFVBtUyO.jpg, /fzgUMnbOkxC...","67773, 3092, 519, 70696, 59222, 18793, 14592, ...","George Banks, Nina Banks, Franck Eggelhoffer, ..."

In [286]:
keywords.head()

,id,name_keywords,id_keywords
0,862,"jealousy, toy, boy, friendship, friends, rival...","931, 4290, 5202, 6054, 9713, 9823, 165503, 170..."
1,8844,"board game, disappearance, based on children's...","10090, 10941, 15101, 33467, 158086, 158091"
2,15602,"fishing, best friend, duringcreditsstinger, ol...","1495, 12392, 179431, 208510"
3,31357,"based on novel, interracial relationship, sing...","818, 10131, 14768, 15160, 33455"
4,11862,"baby, midlife crisis, confidence, aging, daugh...","1009, 1599, 2246, 4995, 5600, 10707, 13149, 33..."

In [287]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')

In [288]:
movies = movies.merge(credits, on='id')
movies = movies.merge(keywords, on='id')

In [289]:
links = pd.read_csv('data/links.csv')
links = links[links['tmdbId'].notnull()]['tmdbId'].astype('int')

In [290]:
movies_meta = movies[movies['id'].isin(links)]
movies_meta.shape

(45453, 35)

In [291]:
def is_float(string):
    try:
        float(string)
        return True
    except ValueError:
        return False

In [292]:
def find_director(job_crew, index):
    if not is_float(job_crew):
        jobs = job_crew.split(', ')
        for job in jobs:
            if job == 'Director':
                idx = jobs.index(job)
                names = movies_meta.loc[index, 'name_crew']
                if not is_float(names):
                    names = names.split(', ')
                    return names[idx]
                else:
                    return np.nan
    return np.nan

In [293]:
movies_meta['director'] = None
for i in range(movies_meta.shape[0]):
    movies_meta.loc[i, 'director'] = find_director(movies_meta.loc[i, 'job_crew'], i)
movies_meta['director']

0           John Lasseter
1            Joe Johnston
2           Howard Deutch
3         Forest Whitaker
4           Charles Shyer
               ...
45448    Hamid Nematollah
45449            Lav Diaz
45450      Mark L. Lester
45451    Yakov Protazanov
45452       Daisy Asquith
Name: director, Length: 45453, dtype: object

In [294]:
movies_meta

,budget,id,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,...,name_cast,order_cast,gender_cast,credit_id_cast,profile_path_cast,id_cast,character_cast,name_keywords,id_keywords,director
0,30.0,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373.554033,...,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12","2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2","52fe4284c3a36847f8024f95, 52fe4284c3a36847f802...","/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMmP...","31, 12898, 7167, 12899, 12900, 7907, 8873, 111...","Woody (voice), Buzz Lightyear (voice), Mr. Pot...","jealousy, toy, boy, friendship, friends, rival...","931, 4290, 5202, 6054, 9713, 9823, 165503, 170...",John Lasseter
1,65.0,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262.797249,...,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, ...","2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, 0...","52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80a...","/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6Q...","2157, 8537, 205, 145151, 5149, 10739, 58563, 1...","Alan Parrish, Samuel Alan Parrish / Van Pelt, ...","board game, disappearance, based on children's...","10090, 10941, 15101, 33467, 158086, 158091",Joe Johnston
2,0.0,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,0.000000,...,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","0, 1, 2, 3, 4, 5, 6","2, 2, 1, 1, 1, 2, 2","52fe466a9251416c75077a8d, 52fe466a9251416c7507...","/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg, /chZmNRYMtqk...","6837, 3151, 13567, 16757, 589, 16523, 7166","Max Goldman, John Gustafson, Ariel Gustafson, ...","fishing, best friend, duringcreditsstinger, ol...","1495, 12392, 179431, 208510",Howard Deutch
3,16.0,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,81.452156,...,"Whitney Houston, Angela Bassett, Loretta Devin...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9","1, 1, 1, 1, 2, 2, 2, 2, 2, 2","52fe44779251416c91011aad, 52fe44779251416c9101...","/69ouDnXnmklYPr4sMJXWKYz81AL.jpg, /tHkgSzhEuJK...","8851, 9780, 18284, 51359, 66804, 352, 87118, 3...","Savannah 'Vannah' Jackson, Bernadine 'Bernie' ...","based on novel, interracial relationship, sing...","818, 10131, 14768, 15160, 33455",Forest Whitaker
4,0.0,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,76.578911,...,"Steve Martin, Diane Keaton, Martin Short, Kimb...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11","2, 1, 2, 1, 2, 0, 2, 2, 1, 1, 2, 1","52fe44959251416c75039eb9, 52fe44959251416c7503...","/rI2EMvkfKKPKa5z0nM2pFVBtUyO.jpg, /fzgUMnbOkxC...","67773, 3092, 519, 70696, 59222, 18793, 14592, ...","George Banks, Nina Banks, Franck Eggelhoffer, ...","baby, midlife crisis, confidence, aging, daugh...","1009, 1599, 2246, 4995, 5600, 10707, 13149, 33...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45448,0.0,439050,tt6209470,fa,Ø±Ú¯ Ø®ÙˆØ§Ø¨,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,NaN,0.000000,...,"Leila Hatami, Kourosh Tahami, Elham Korda","1, 2, 3","1, 0, 0","5894a909925141427e0079a5, 5894a952c3a36840a700...","/ppI1Q4a7zAXTaAyPRSvPm0vhove.jpg, None, None","240240, 1749839, 1619957",", ,",tragic love,10703,Hamid Nematollah
45449,0.0,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,2011-11-17,0.000000,...,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10","1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0","52fe4af1c3a36847f81e9b1f, 559eb4ecc3a368081d00...","/aZLCxPbokn0EX1cNXxF9UCaA8gP.jpg, None, /jvAau...","1043186, 111636, 1204271, 278923, 1042953, 575...","Sister Angela, Homer, Crazy Woman/Virgin, Aman...","artist, play, pinoy","2679, 14531, 215397",Lav Diaz
45450,0.0,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,2003-08-01,0.000000,...,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14","1, 2, 1, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0","52fe4776c3a368484e0c83a3, 52fe4776c3a368484e0c...","/7ZdUGY78qpB2MkTzAQvYEYzncwN.jpg, /vhZ8AD36h09...","23764, 2059, 46277, 1736, 58646, 54649, 55270,...","Emily Shaw, Det. Mark Winston, Jayne FerrÃ©, Al...",NaN,NaN,Mark L. Lester
45451,0.0,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,1917-10-21,0.000000,...,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...","0, 1, 2, 3, 4","2, 1, 2, 0, 1","52fe4ea59251416c7515d7d5, 52fe4ea59251416c7515...","None, None, None, None, /n1NXVGNzNxtqsMWxLT1h8...","544742, 1090923, 1136422, 1261758, 29199",", , , ,",NaN,NaN,Yakov Protazanov
45452,0.0,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,2017-06-09,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Daisy Asquith

In [295]:
movies_meta['director'].isna().sum()

887

In [296]:
movies_meta['director'] = movies_meta['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
movies_meta['director'] = movies_meta['director'].apply(lambda x: [x,x,x])
movies_meta['director']

0               [johnlasseter, johnlasseter, johnlasseter]
1                  [joejohnston, joejohnston, joejohnston]
2               [howarddeutch, howarddeutch, howarddeutch]
3         [forestwhitaker, forestwhitaker, forestwhitaker]
4               [charlesshyer, charlesshyer, charlesshyer]
                               ...
45448    [hamidnematollah, hamidnematollah, hamidnemato...
45449                          [lavdiaz, lavdiaz, lavdiaz]
45450           [markl.lester, markl.lester, markl.lester]
45451    [yakovprotazanov, yakovprotazanov, yakovprotaz...
45452           [daisyasquith, daisyasquith, daisyasquith]
Name: director, Length: 45453, dtype: object

In [297]:
# find unique key word
def is_float(string):
    try:
        float(string)
        return True
    except ValueError:
        return False

keywords_set = set()
def find_unique(keywords_str):
    if not is_float(keywords_str):
        string_list = keywords_str.split(', ')
        for string in string_list:
            keywords_set.add(string)

In [298]:
movies_meta['name_keywords'].apply(find_unique)

0        None
1        None
2        None
3        None
4        None
         ...
45448    None
45449    None
45450    None
45451    None
45452    None
Name: name_keywords, Length: 45453, dtype: object

In [299]:
keywords_dict = dict()

for keyword in keywords_set:
    keywords_dict[keyword] = 0
    
def count(keywords_str):
    if not is_float(keywords_str):
        string_list = keywords_str.split(', ')
        for string in string_list:
            keywords_dict[string] += 1

In [300]:
movies_meta['name_keywords'].apply(count)

0        None
1        None
2        None
3        None
4        None
         ...
45448    None
45449    None
45450    None
45451    None
45452    None
Name: name_keywords, Length: 45453, dtype: object

In [301]:
keyword_unique = pd.Series(keywords_dict)

In [302]:
keyword_unique = keyword_unique[keyword_unique > 1]
keyword_unique

belfast                   4
corporal                  3
nuclear holocaust        13
seaside                  10
over the top              2
                         ..
pocket monsters           3
coma                     37
near-death experience     4
map                      16
don                       2
Length: 11278, dtype: int64

In [303]:
def keywords_filtering(keywords):
    final_keywords = list()
    if not is_float(keywords):
        keywords_list = keywords.split(', ')
        for key in keywords_list:
            if key in keyword_unique:
                final_keywords.append(key)
    return final_keywords

In [304]:
%pip install nltk

Requirement already satisfied: nltk in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from nltk) (2023.6.3)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from nltk) (4.65.0)
Note: you may need to restart the kernel to use updated packages.

In [305]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer('english')

In [306]:
movies_meta['name_keywords'] = movies_meta['name_keywords'].apply(keywords_filtering)
movies_meta['name_keywords'] = movies_meta['name_keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
movies_meta['name_keywords'] = movies_meta['name_keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [307]:
movies_meta

,budget,id,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,...,name_cast,order_cast,gender_cast,credit_id_cast,profile_path_cast,id_cast,character_cast,name_keywords,id_keywords,director
0,30.0,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373.554033,...,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12","2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2","52fe4284c3a36847f8024f95, 52fe4284c3a36847f802...","/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMmP...","31, 12898, 7167, 12899, 12900, 7907, 8873, 111...","Woody (voice), Buzz Lightyear (voice), Mr. Pot...","[jealousi, toy, boy, friendship, friend, rival...","931, 4290, 5202, 6054, 9713, 9823, 165503, 170...","[johnlasseter, johnlasseter, johnlasseter]"
1,65.0,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262.797249,...,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, ...","2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, 0...","52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80a...","/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6Q...","2157, 8537, 205, 145151, 5149, 10739, 58563, 1...","Alan Parrish, Samuel Alan Parrish / Van Pelt, ...","[boardgam, disappear, basedonchildren'sbook, n...","10090, 10941, 15101, 33467, 158086, 158091","[joejohnston, joejohnston, joejohnston]"
2,0.0,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,0.000000,...,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","0, 1, 2, 3, 4, 5, 6","2, 2, 1, 1, 1, 2, 2","52fe466a9251416c75077a8d, 52fe466a9251416c7507...","/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg, /chZmNRYMtqk...","6837, 3151, 13567, 16757, 589, 16523, 7166","Max Goldman, John Gustafson, Ariel Gustafson, ...","[fish, bestfriend, duringcreditssting, oldmen]","1495, 12392, 179431, 208510","[howarddeutch, howarddeutch, howarddeutch]"
3,16.0,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,81.452156,...,"Whitney Houston, Angela Bassett, Loretta Devin...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9","1, 1, 1, 1, 2, 2, 2, 2, 2, 2","52fe44779251416c91011aad, 52fe44779251416c9101...","/69ouDnXnmklYPr4sMJXWKYz81AL.jpg, /tHkgSzhEuJK...","8851, 9780, 18284, 51359, 66804, 352, 87118, 3...","Savannah 'Vannah' Jackson, Bernadine 'Bernie' ...","[basedonnovel, interracialrelationship, single...","818, 10131, 14768, 15160, 33455","[forestwhitaker, forestwhitaker, forestwhitaker]"
4,0.0,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,76.578911,...,"Steve Martin, Diane Keaton, Martin Short, Kimb...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11","2, 1, 2, 1, 2, 0, 2, 2, 1, 1, 2, 1","52fe44959251416c75039eb9, 52fe44959251416c7503...","/rI2EMvkfKKPKa5z0nM2pFVBtUyO.jpg, /fzgUMnbOkxC...","67773, 3092, 519, 70696, 59222, 18793, 14592, ...","George Banks, Nina Banks, Franck Eggelhoffer, ...","[babi, midlifecrisi, confid, age, daughter, mo...","1009, 1599, 2246, 4995, 5600, 10707, 13149, 33...","[charlesshyer, charlesshyer, charlesshyer]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45448,0.0,439050,tt6209470,fa,Ø±Ú¯ Ø®ÙˆØ§Ø¨,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,NaN,0.000000,...,"Leila Hatami, Kourosh Tahami, Elham Korda","1, 2, 3","1, 0, 0","5894a909925141427e0079a5, 5894a952c3a36840a700...","/ppI1Q4a7zAXTaAyPRSvPm0vhove.jpg, None, None","240240, 1749839, 1619957",", ,",[tragiclov],10703,"[hamidnematollah, hamidnematollah, hamidnemato..."
45449,0.0,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,2011-11-17,0.000000,...,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10","1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0","52fe4af1c3a36847f81e9b1f, 559eb4ecc3a368081d00...","/aZLCxPbokn0EX1cNXxF9UCaA8gP.jpg, None, /jvAau...","1043186, 111636, 1204271, 278923, 1042953, 575...","Sister Angela, Homer, Crazy Woman/Virgin, Aman...","[artist, play, pinoy]","2679, 14531, 215397","[lavdiaz, lavdiaz, lavdiaz]"
45450,0.0,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,2003-08-01,0.000000,...,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14","1, 2, 1, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0","52fe4776c3a368484e0c83a3, 52fe4776c3a368484e0c...","/7ZdUGY78qpB2MkTzAQvYEYzncwN.jpg, /vhZ8AD36h09...","23764, 2059, 46277, 1736, 58646, 54649, 55270,...","Emily Shaw, Det. Mark Winston, Jayne FerrÃ©, Al...",[],NaN,"[markl.lester, markl.lester, markl.lester]"
45451,0.0,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,1917-10-21,0.000000,...,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...","0, 1, 2, 3, 4","2, 1, 2, 0, 1","52fe4ea59251416c7515d7d5, 52fe4ea59251416c7515...","None, None, None, None, /n1NXVGNzNxtqsMWxLT1h8...","544742, 1090923, 1136422, 1261758, 29199",", , , ,",[],NaN,"[yakovprotazanov, yakovprotazanov, yakovprotaz..."
45452,0.0,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,2017-06-09,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,"[daisyasquith, daisyasquith, daisyasquith]"

In [308]:
movies_meta.columns

Index(['budget', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'release_date', 'revenue',
       'runtime', 'status', 'tagline', 'title', 'vote_average', 'vote_count',
       'name_genres', 'name_production_countries', 'name_production_companies',
       'year', 'name_crew', 'department_crew', 'gender_crew', 'job_crew',
       'profile_path_crew', 'id_crew', 'name_cast', 'order_cast',
       'gender_cast', 'credit_id_cast', 'profile_path_cast', 'id_cast',
       'character_cast', 'name_keywords', 'id_keywords', 'director'],
      dtype='object')

In [309]:
def str_to_list(col):
    if not is_float(col):
        return col.split(', ')
    else:
        return []

In [310]:
for i in range(movies_meta.shape[0]):
    if movies_meta.loc[i, 'name_genres'] == '[]':
        movies_meta.loc[i, 'name_genres'] = np.nan

In [311]:
movies_meta['name_cast'] = movies_meta['name_cast'].apply(str_to_list)
movies_meta['name_genres'] = movies_meta['name_genres'].apply(str_to_list)

In [312]:
movies_meta['name_genres'] = movies_meta['name_genres'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
movies_meta['name_cast'] = movies_meta['name_cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [314]:
movies_meta['combine'] = movies_meta['name_keywords'] + movies_meta['name_cast'] + movies_meta['director'] + movies_meta['name_genres']
movies_meta['combine'] = movies_meta['combine'].apply(lambda x: ' '.join(x))

In [315]:
movies_meta['combine']

0        jealousi toy boy friendship friend rivalri boy...
1        boardgam disappear basedonchildren'sbook newho...
2        fish bestfriend duringcreditssting oldmen walt...
3        basedonnovel interracialrelationship singlemot...
4        babi midlifecrisi confid age daughter motherda...
                               ...
45448    tragiclov leilahatami kouroshtahami elhamkorda...
45449    artist play pinoy angelaquino perrydizon hazel...
45450    erikaeleniak adambaldwin juliedupage jamesrema...
45451    iwanmosschuchin nathalielissenko pavelpavlov a...
45452               daisyasquith daisyasquith daisyasquith
Name: combine, Length: 45453, dtype: object

In [316]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(movies_meta['combine'])

In [317]:
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
cosine_similarity = cosine_similarity(count_matrix, count_matrix)

In [318]:
movies_meta = movies_meta.reset_index()
titles = movies_meta['title']
indices = pd.Series(movies_meta.index, index=movies_meta['title'])

In [319]:
def find_idx(title):
    idx = pd.Series(indices[title])
    return idx[0]

In [320]:
def get_recommendations(title):
    idx = find_idx(title=title)
    similarity_scores = list(enumerate(cosine_similarity[idx]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores = similarity_scores[1:21]
    movie_indices = [i[0] for i in similarity_scores]
    return titles.iloc[movie_indices]

In [321]:
get_recommendations('The Dark Knight').head(20)

25901                           Doodlebug
10137                       Batman Begins
18267               The Dark Knight Rises
2469                            Following
15496                           Inception
11372                        The Prestige
4103                              Memento
5263                             Insomnia
22886                        Interstellar
1332                       Batman Returns
44668                             Dunkirk
15527          Batman: Under the Red Hood
39619            Batman: The Killing Joke
32248                Atom Man vs Superman
22053                    Chicago Overcoat
28672             Kidnapping Mr. Heineken
9242                               Shiner
45172               S.W.A.T.: Under Siege
32117    Batman Unlimited: Monster Mayhem
1494                       Batman & Robin
Name: title, dtype: object

In [322]:
get_recommendations('Mrs. Doubtfire').head(20)

4390                                      Heartbreak Hotel
3043                                      Bicentennial Man
183                                            Nine Months
2322                                               Stepmom
2841                        Home Alone 2: Lost in New York
6877                                       Only the Lonely
2027                             Adventures in Babysitting
14053                              I Love You, Beth Cooper
10573                                                 Rent
579                                             Home Alone
34277                                      Yedyanchi Jatra
4774              Harry Potter and the Philosopher's Stone
5688               Harry Potter and the Chamber of Secrets
30396                                               Pixels
7995                                       Hometown Legend
14674                                Ernest Goes to School
29905                              The Ransom of Red Chief
14858    Percy Jackson & the Olympians: The Lightning T...
39411                                          The Journey
14144                                    The Handcuff King
Name: title, dtype: object

In [323]:
get_recommendations('Harry Potter and the Philosopher\'s Stone').head(20)

5688               Harry Potter and the Chamber of Secrets
7739              Harry Potter and the Prisoner of Azkaban
11945            Harry Potter and the Order of the Phoenix
13910               Harry Potter and the Half-Blood Prince
10570                  Harry Potter and the Goblet of Fire
17452         Harry Potter and the Deathly Hallows: Part 2
4390                                      Heartbreak Hotel
16143         Harry Potter and the Deathly Hallows: Part 1
2322                                               Stepmom
2027                             Adventures in Babysitting
2841                        Home Alone 2: Lost in New York
14053                              I Love You, Beth Cooper
3043                                      Bicentennial Man
6877                                       Only the Lonely
183                                            Nine Months
495                                         Mrs. Doubtfire
10573                                                 Rent
579                                             Home Alone
14858    Percy Jackson & the Olympians: The Lightning T...
30396                                               Pixels
Name: title, dtype: object